@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .container > .block-views-blockrecipe-collections-block {
    padding: 3rem 4%;
    color: #fff;
    background: #767775;

    .block__title {
      margin-bottom: 1.5rem;
      text-align: center;
    }

    .views-view-grid {
      display: flex;
      flex-wrap: wrap;
      justify-content: center;
    }

    .views-col {
      width: 100%;
      padding: 0 14px;
      text-align: center;

      @media screen and (min-width: 48em) {
        width: 25%;
        max-width: 13rem;
        text-align: left; /* LTR */
        [dir='rtl'] & {
          text-align: right;
        }
      }
    }

    .views-row {
      margin-bottom: 0.5rem;
      font-size: 0.9rem;

      a {
        text-decoration: none;
        color: #fff;
        font-weight: bold;

        &:active,
        &:focus,
        &:hover {
          text-decoration: underline;
          outline-color: #fff;
          background: transparent;
        }
      }
    }
  }
}

@layer components {
  .field--name-title {
    text-decoration: none;
    color: #000;
    font-size: 1.424rem;
    font-weight: 400;
    padding-top: 0.5rem;
  }
  .menu-main__wrapper > drupal-html-fragment > .menu-main--active {
    overflow-y: auto;
    /**
     * An exact max-height value must be set to make possible to animate the menu display.
     * It my not be much larger than the content because that would break the animation.
     * See: https://css-tricks.com/using-css-transitions-auto-dimensions/
     */
    max-height: 18.75rem;
  }
  .menu-main > .menu-main__item > .menu-main__link.is-active:hover {
    text-decoration: none;
    color: #da3c13;
    border-bottom-color: #da3c13;
    background-color: inherit;
  }
  .menu-main > .menu-main__item > .menu-main__link.is-active
  {
    text-decoration: none;
    border-bottom-color: #da3c13;
  }
  @media screen and (min-width: 48em) {
    .menu-main > .menu-main__item + .menu-main__item {
      margin-left: 2.5em; /* LTR */
    }
    .menu-main > [dir="rtl"] .menu-main__item + .menu-main__item {
      margin-right: 2.5em;
      margin-left: 0;
    }
  }
}
