@font-face {
  font-family: Mulish;
  src: url("../app/fonts/Mulish/Mulish-VariableFont_wght.ttf");
}

#debug-tool-container {
  position: sticky;
  z-index: 501;
  width: 100%;
  background: #CDD7F1;
  bottom: 0;
  font-family: Mulish, serif;
  border-top: 2px solid #AAB4C8;
  box-shadow: -2px 1px 3px 1px rgba(0, 0, 0, 0.3333);
}

[data-jsx-debug='jsx'] [data-drupal-prop-info][data-drupal-prop-info] {
  position: relative;
  outline: 2px dashed #42C1DD;
  outline-offset: -3px;
}

[data-jsx-debug='twig'] [data-drupal-twig-template][data-drupal-twig-template] {
  position: relative;
  outline: 2px dashed #6ead87;
  outline-offset: -3px;
}

[data-jsx-debug]:not([data-jsx-debug='off']) [data-drupal-twig-template] a,
[data-jsx-debug]:not([data-jsx-debug='off']) [data-drupal-prop-info] a,
[data-jsx-debug]:not([data-jsx-debug='off']) [data-drupal-twig-template] input,
[data-jsx-debug]:not([data-jsx-debug='off']) [data-drupal-prop-info] input,
[data-jsx-debug='twig'] [data-drupal-twig-template] button:not(.debug-btn),
[data-jsx-debug='jsx'] [data-drupal-prop-info] button:not(.debug-btn) {
  pointer-events: none;
}

.debug-btn {
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 100;
}

.debug-btn-img {
  width: 36px;
  height: 36px;
}

.debug-btn-img:hover {
  opacity: 90%;
  border: #e13f3f solid 2px;
  background:#CDD7F1;
}

[data-jsx-debug]:not([data-jsx-debug='off']) [data-drupal-twig-template][data-drupal-twig-template].debug-highlight,
[data-jsx-debug]:not([data-jsx-debug='off']) [data-drupal-prop-info][data-drupal-prop-info].debug-highlight,
[data-jsx-debug]:not([data-jsx-debug='off']) [data-drupal-prop-info][data-drupal-prop-info].keep-highlight,
[data-jsx-debug]:not([data-jsx-debug='off']) [data-drupal-twig-template][data-drupal-twig-template].keep-highlight {
  outline: #e13f3f solid 5px;
}
