{% extends "block.html.twig" %}
{#
/**
 * @file
 * Theme override for Umami footer Promo block.
 */
#}
{% block content %}
  {{ attach_library('umami_jsx/quicklinks') }}
  {{ content }}
{% endblock %}
